* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2 {
  padding: 20px 0;
}