header {
  background-color: #000;
  height: 100px;
  h1 {
    color: red;
  }
}

// search
.search {
  input {
    padding: 5px;
  }
  button {
    padding: 5px;
    margin-left: 10px;
    color: #fff;
    background-color: red;
  }
}