main {
  background-color: grey;
  min-height: calc(100vh - 100px);
  h2 {
    padding: 20px 0;
    font-size: 2rem;
  }
}

// card
.card {
  width: 342px;
  height: 513px;
  position: relative;
  margin-bottom: 40px;
  margin-right: 40px;
  .card-layover {
    position: absolute;
    height: 100%;
    transition: opacity 0.5s, visibility 0.5s;
  }
  &:hover .card-layover {
    opacity: 0;
    visibility: hidden;
  }
  .not-found {
    height: 100%;
    width: 100%;
  }
}

.card-text {
  padding: 10px;
  height: 90%;
  overflow-y: auto;
  background-color: black;
  color: lightgray;
  ul {
    list-style-type: none;
    li {
      padding: 3px;
      span {
        font-weight: bold;
        color: white;
      }
    }
  }
  .lang {
    width: 30px;
  }
}